/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary: #3f51b5;
$accent: #ff4081;
$warn: #f44337;

.container{
    position:relative;
    height: calc(100% - 54px - 48px - 5px);
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

html {
    background-color: ivory;
}